.restaurant-container{
    margin-top: 7%;
    margin-bottom: 5%;
    margin-left: auto;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.restaurant-container h3{
    text-align: center;
    color: #333;
}